.footer {
    @include flex(column, initial, normal);
    background-color: $bg-dark;
    padding-left: 1rem;
    &__indexlink {
        width: 100px;
    }
    &__logo {
        max-width: 100%;
    }
    &__content {
        @include flex(column, initial, flex-start)
    }
    &__link {
        @include flex(column);
        color: white;
    }
}