.form-search {
    margin-left: 2.5rem;
    .form-search__bar {
        @include input-search;
        background-color: #EAEAEA;
        padding-left: 3rem;
        font-weight: 600;
        &:focus-visible {
            outline: black solid 0.1rem;
        }
    }
    &__icon {
        position: sticky;
        margin-right: -2.5rem;
    }    
}