.header {
    @include flex;
    &__band {
        @include flex(row);
        background-color: white;
        width: 100%;
        padding-top: 1.7rem;
    }
    &__logo {
        max-width: 200px;
        margin-left: -2rem;
    }
    &--gap {
        gap: 1.5rem;
    }
    &--absolute {
        position: absolute;
        top: 0;
        z-index: 1;
        padding-bottom: 1.7rem;
    }
}

.nav {
    position: absolute;
    top: 2rem;
    left: 1.5rem;
}

.hero {
    @include flex(column, center, normal);
    width: 100%;
    max-width: 1800px;
    position: relative;
    top: 2rem;
    &__img {
        min-width: 100%;
        max-height: 16rem;
        @include tablet-min {
            max-height: 20rem;
        }
        @include desktop-min {
            max-height: 24rem;
        }
        @include desktop-xl-min {
            max-height: 28rem;
        }
    }
}