.btn-main {
    background: linear-gradient(to bottom, $colour-secondary, $colour-primary);
    color: white;
    width: max-content;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    @include shadow-light;
    &:hover {
        filter: brightness(1.05);
        @include shadow-medium;
        cursor: pointer;
    }
    &--larger {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}