.card-step {
    @include flex(column, normal, normal);
    
    &__link {
        @include flex(row, initial, center);
        background-color: $bg-light;
        gap: 1.5rem;
        padding: 1.4rem 0rem;
        margin-left: 1rem;
        border-radius: 1.5rem;
        @include shadow;
        @include desktop-only {
            width: max-content;
            padding-right: 2rem;
            margin: 0;
        }
    }
    
    &__number {
        background-color: $colour-primary;
        color: white;
        border-radius: 1rem;
        width: fit-content;
        padding: 0.2rem 0.5rem;
        margin-left: -0.8rem;
    }
    &__icon {
        color: #7E7E7E;
        &:hover {
            color: $colour-primary
        }
        
    }
}

.card-restaurants {
    @include flex;
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    &__link {
        position: relative;
        width: 100%;
        height: 100%;
    }
    &__img {
        width: 100%;
        height: 200px;
        border-radius: 1rem 1rem 0 0;
    }
    &__content {
        @include flex(row, space-between, center);
        padding: 1rem;
        & h3 {
            padding-bottom: 0.4rem;
        }
    }
}

.card-new {
    position: absolute;
    width: inherit;
    height: inherit;
    & p {
        position: absolute;
        background-color: #99E2D0;
        color: #008766;
        right: 5%;
        top: 5%;
        padding: 0.3rem;
    }
}

.card-dish {
    @include flex(row, space-between, normal);
    background-color: white;
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    @include shadow;
    &__title {
        font-size: large; 
    }
    &__content {
        @include flex (column, space-between, normal);
        gap: 0.4rem;
    }
    &__price {
        @include flex (row, normal, flex-end);
    }
}