/****** map ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: none;
  background-color: white;
}
button:hover {
  background-color: white;
}

.bold {
  font-weight: 600;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  font-family: "Shrikhand", cursive;
}

.btn-main {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.2rem 0.4rem 0.1rem;
}

.btn-like {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-step {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;
}
.card-step__link {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  background-color: #F6F6F6;
  gap: 1.5rem;
  padding: 1.4rem 0rem;
  margin-left: 1rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.2rem 0.4rem 0.1rem;
}
@media screen and (min-width: 990px) {
  .card-step__link {
    width: -moz-max-content;
    width: max-content;
    padding-right: 2rem;
    margin: 0;
  }
}
.card-step__number {
  background-color: #9356DC;
  color: white;
  border-radius: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  margin-left: -0.8rem;
}
.card-step__icon {
  color: #7E7E7E;
}
.card-step__icon:hover {
  color: #9356DC;
}

.card-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  border-radius: 1rem;
}
.card-restaurants__link {
  position: relative;
  width: 100%;
  height: 100%;
}
.card-restaurants__img {
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0 0;
}
.card-restaurants__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.card-restaurants__content h3 {
  padding-bottom: 0.4rem;
}

.card-new {
  position: absolute;
  width: inherit;
  height: inherit;
}
.card-new p {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  right: 5%;
  top: 5%;
  padding: 0.3rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.header__logo {
  max-width: 200px;
  padding-top: 1.5rem;
}

.form-search {
  margin-left: 2.5rem;
}
.form-search .form-search__bar {
  border: none;
  color: black;
  background-color: #EAEAEA;
  padding-left: 3rem;
}
.form-search .form-search__bar::-moz-placeholder {
  color: black;
  opacity: 1;
}
.form-search .form-search__bar::placeholder {
  color: black;
  opacity: 1;
}
.form-search .form-search__bar:focus-visible {
  outline: black solid 0.1rem;
}
.form-search__icon {
  position: sticky;
  margin-right: -2.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: normal;
  background-color: #353535;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 1rem;
}
@media screen and (min-width: 990px) {
  .footer {
    flex-direction: row-reverse;
    gap: 5rem;
    padding: 3rem 3rem 1.5rem 3rem;
  }
}
.footer__indexlink {
  width: 100px;
}
.footer__logo {
  max-width: 100%;
  filter: invert(1);
  padding: 1.5rem 0rem 1rem;
}
.footer__maincontent, .footer__content {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: flex-start;
  gap: 0.7rem;
}
@media screen and (min-width: 990px) {
  .footer__maincontent, .footer__content {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
}
@media screen and (min-width: 990px) {
  .footer__content {
    gap: 0.8rem;
  }
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #EAEAEA;
  height: 4rem;
  box-shadow: inset 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.12);
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding: 2rem 1rem 4rem;
  gap: 1.5rem;
  text-align: center;
}
.welcome__title {
  font-size: xx-large;
  font-weight: 800;
}
.welcome__text {
  font-size: large;
}

.functioning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.functioning__section {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  max-width: 1000px;
  width: 90%;
  margin-bottom: 4rem;
}
.functioning__title {
  padding: 3rem 0rem 1.5rem;
}
@media screen and (min-width: 990px) {
  .functioning__title {
    padding: 3rem 0rem 1.5rem;
  }
}
.functioning__container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 3rem;
}
@media screen and (min-width: 990px) {
  .functioning__container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.restaurants__section {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #F6F6F6;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 3.5rem;
}
.restaurants__title {
  margin: 3rem 0rem 1.7rem;
}
.restaurants__content {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 2rem;
}
@media screen and (min-width: 578px) {
  .restaurants__content {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
}
@media screen and (min-width: 990px) {
  .restaurants__content {
    grid-column-gap: 6rem;
    grid-row-gap: 3rem;
  }
}/*# sourceMappingURL=style.css.map */