.main-restaurant {
    @include flex(column, normal, center);
    width: 100%;
}


.main-content {
    @include flex(column, normal, center);
    max-width: 1000px;
    width: 100%;
    min-height: 100%;
    background-color: $bg-light;
    border-radius: 2rem 2rem 0 0;
    position: relative;
}

.menu {
    @include flex(column, center, normal);
    width: 95%;
    padding: 1.5rem 0 2.5rem 0;
    gap: 1.5rem;
    @include tablet-min {
        width: 60%;
    }
    &__title {
        @include flex(row, space-between, normal);
        font-family: 'Shrikhand', cursive;
        font-weight: 300;
        max-width: 95%;
        padding: 0.5rem;
        @include tablet-min {
            max-width: 100%;
            justify-content: center;
            gap: 2rem;
        }
    }
    &__part {
        @include flex(column, normal, normal);
        gap: 0.5rem;
        padding: 0.5rem;
        overflow: hidden;
        & h2 {
            font-size: medium;
            font-weight: 400;
            margin: 0.5rem 0rem;
            padding: 0 0.5rem 0.5rem 0;
            border-bottom: 3px solid #99E2D0;
            width: 2.6rem;
        }
    }
    &__cards {
        @include flex(column, normal, normal);
        gap: 1rem;
    }
    &__btn {
        @include flex(column, center, center)
    }
}


.duration1 {
    animation-duration:map-get($duration, first)
}

.duration2 {
    animation-duration: map-get($duration, second);
}

.duration3 {
    animation-duration: map-get($duration, third);
}

.duration4 {
    animation-duration: map-get($duration, fourth);
}