$colour-primary:#9356DC;
$colour-secondary:#FF79DA;
$colour-tertiary:#99E2D0;

$bg-light:#F6F6F6;
$bg-medium:#EAEAEA;
$bg-dark:#353535;



/****** map ******/

$breakpoints: (
    tablets: 578px,
    desktop: 990px
);